.herosection{
    height:100%;
    min-height: 100vh;
    width:100%;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    position:relative;
    display: flex;
    flex-direction: row;
    /* padding-top: 80px; */
    height:600px;
    justify-content: center;
    align-items: center;
}
.hero-txt{
    height: 550px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.hero-txt h5{
    font-size: 15px;
    font-weight:400;
    color:white;
    margin-bottom: 40px;
}
.hero-txt h1{
    font-family: 'Permanent Marker', cursive;
    color:#fff;
    line-height: 1;
    font-size: 90px;
    margin:0 0 45px;
}

.hero-txt h4{
    font-size:16px;
    font-weight:600;
    color:#fff;
    margin-bottom: 10px;
}
.hero-txt p{
    font-size: 16px;
    color:#fff;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
    width:700px;
    height:auto;
}
.hero-txt-btn{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap:15px;
}
.hero-txt a{
    display: inline-block;
    color: #fff;
    background: #4d9559;
    border:1px solid transparent;
    padding:12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.55s ease;
}
.hero-txt a:hover{
    background: transparent;
    border: 1px solid #fff;
    transform: translateX(8px);
}
.hero-txt a.ctaa{
    background: transparent;
    border: 1px solid #fff;
    
}
.hero-txt a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}

@media screen and (max-width:1600px) {
    .hero-txt{
        height: 550px;
        width:400px;
    }
    .hero-img img{
        width:500px;
        height:auto;
    }
}
@media screen and (max-width:1000px) {

    .hero-txt{
        height: 550px;
        width:300px;
    }
    .hero-img img{
        width:500px;
        height:auto;
    }
    .hero-txt p{
        font-size: 12px;
    }
    .hero-txt a{
        padding:8px 10px;
        line-height: 1.4;
        font-size: 10px;
        font-weight: 400;
    }
}
@media screen and (max-width:900px) {
    .herosection{
        display: flex;
        flex-direction: column;
        /* padding-top: 80px; */
        /* height:600px; */
        justify-content: center;
        align-items: center;
    }
    .hero-txt{
        /* height: 550px; */
        width:240px;
    }
    .hero-img img{
        width:43    0px;
        height:auto;
    }
    .hero-txt h1{
        font-size: 50px;
    margin:0 0 20px;

    }
    .hero-txt h4{
        font-size:14px;
        font-weight:600;
    }
    .hero-txt p{
        font-size: 12px;
    }
    .hero-txt a{
        padding:8px 10px;
        line-height: 1.4;
        font-size: 10px;
        font-weight: 400;
    }
    
}
@media screen and (max-width:600px) {

    .hero-img img{
        width:300px;
        /* height:auto; */
    }
    .hero-txt h1{
        font-size: 30px;
        margin:0 0 20px;

    }
    .hero-txt h4{
        font-size:12px;
        font-weight:600;
    }
    .hero-txt p{
        font-size: 10px;
        margin-bottom: 40px;
    }
    .hero-txt a{
        padding:6px 8px;
        /* line-height: 1.4; */
        font-size: 8px;
        font-weight: 400;
    }
    .hero-txt a.ctaa i{
        vertical-align:auto;
        margin-right: 0px;
    }
    
}
@media screen and (max-width:350px) {

    .hero-txt{
        height: 400px;
        width:170px;
    }
    .hero-img img{
        width:180px;
        height:120px;
        /* height:auto; */
    }
    .hero-txt h1{
        font-size: 30px;
        margin:0 0 20px;

    }
    .hero-txt h4{
        font-size:12px;
        font-weight:600;
    }
    .hero-txt p{
        font-size: 10px;
        margin-bottom: 40px;
    }
    .hero-txt a{
        padding:6px 8px;
        /* line-height: 1.4; */
        font-size: 8px;
        font-weight: 400;
    }
    .hero-txt a.ctaa i{
        vertical-align:auto;
        margin-right: 0px;
    }
    
}